<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>

    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="ReportFolder" serializeAs="String">
                <value>c:\testreport</value>
            </setting>
            <setting name="AttendanceConnectionString" serializeAs="String">
                <value>k/WeWpYKPGrYP7sUBqCReRvasRCvhIGvZJOdRj+aZmBB2+WxnC8bO77pyvDKCEEQQKzpH7Y0wDfVB056hH32lQ6T9+DJqwXtKPWsN8Abz8WJw6kVLdSYalSo9FqgEn1El76Rwa9lWCs1p2P949VWrv14gvo9WtE2imMz5nK/GQk=</value>
            </setting>
            <setting name="CnStr" serializeAs="String">
                <value>192.168.0.17,1433|AttendanceUser|jplefgsahuutsqwcmnhajreliqpsaltddweoiplnalsxz</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
